:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-slate-300);
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
p {
  margin: 0 !important;
  padding: 0;
}

.card {
  background-color: var(--color-white);
  max-width: 320px;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card .description {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.card .description h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--color-slate-900);
}

.card .description p {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-slate-500);
  max-width: 250px;
}
